*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100vh;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calender {
    margin: 0;
    background-color: black;
    color: lightgray;
    width: 450px;
    height: 520px;
    border-radius: 10px;
    box-shadow: 4px 4px 8px rgba(0 , 0 , 0, 0.4);
}
.calender .full-day{
    width: 100%;
    height: 120px;
    background-color: lightseagreen;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px 10px 0 0 ;
}
.calender .full-day .month{
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0;
}
.calender .full-day .day{
    font-size: 16px;
}
.calender .week-days{
    display: flex;
    width: 100%;
    height: 50px;
}
.calender .week-days p{
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calender .number-days{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 2px;
}
.calender .number-days div{
    font-size: 14px;
    margin: 3px;
    width: 57.5px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calender .number-days div:hover:not(.empty){
    border: 1px solid gray;
    cursor: pointer;
}
.calender .number-days .today{
    background-color: lightseagreen;
}